@use "../../styles/abstract/variables" as *;
@use "../../styles/abstract/mixins" as *;

.hacker-typer {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  position: relative;
  pre {
    width: 100% !important;
    height: 100% !important;
    overflow-y: hidden;
    code {
      white-space: pre-wrap !important;
    }
  }
}

.hacker-video.hide {
  display: none;
}

@include mqMax(500px) {
  .hacker-video.hide {
    display: none;
  }
  .hacker-video {
    position: fixed;
    width: 100%;
    display: block;
    &.video-1 {
      top: 0;
      left: 0;
    }
    &.video-2 {
      display: none;
    }
    &.video-3 {
      display: none;
    }
    &.video-4 {
      display: none;
    }
  }
}

@include mqMin(500px) {
  .hacker-video {
    display: none;
  }
}

@include mqMin($desktopExtraWideBreakpoint) {
  .hacker-typer {
    .hacker-video.hide {
      display: none;
    }
    .hacker-video {
      position: fixed;
      width: 400px;
      display: block;
      &.video-1 {
        top: 0;
        left: 0;
      }
      &.video-2 {
        top: 0;
        right: 0;
      }
      &.video-3 {
        bottom: 0;
        right: 0;
      }
      &.video-4 {
        bottom: 0;
        left: 0;
      }
    }
  }
}
