// Setting up grid areas
@use "../../styles/abstract/variables" as *;

#root {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "main";
  height: 100vh;
}

main {
  background-image: url("../../assets/images/monkeBg.jpeg");
  background-position: center;
  background-size: cover;
  grid-area: main;
}
