@use "../../styles/abstract/variables" as *;

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3rem;
  align-items: center;
  .profile-pic {
    width: 200px;
    border-radius: 50%;
  }
  .social-icons {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
      brightness(103%) contrast(103%);
    .social-link {
      padding: 1rem;
    }
    .social-icon {
      width: 35px;
      margin: 0.5rem 0;
    }
  }
  .about-content {
    margin-bottom: 4rem;
  }
}

.about-item {
  &:first-child {
    margin-bottom: 2rem;
  }
  background-color: $windowMainSecondaryBg;
  padding: 1rem 1.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.9rem;
    justify-self: end;
    text-align: right;
  }
}
