@use "../../styles/abstract/variables" as *;
@use "../../styles/abstract/mixins" as *;

button.icon,
a.icon {
  background-color: white;
  position: relative;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 1.5rem 1rem;
  &:hover {
    cursor: pointer;
  }
}

.icon-img {
  object-fit: contain;
  height: 30px;
  width: 30px;
}

.icon-text {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

// Ray Bike Icon Styles

.icon-ray-bike-supreme .icon-text {
  bottom: -3.5rem;
  white-space: normal;
}

// bDMI Icon Styles

.icon-bDMI .icon-img {
  // need to change the svg background color to #ff840b
  filter: invert(60%) sepia(27%) saturate(4303%) hue-rotate(352deg)
    brightness(99%) contrast(104%);
}

// Contact Icon Styles

.icon-contact .icon-img {
  filter: invert(12%) sepia(97%) saturate(7060%) hue-rotate(238deg)
    brightness(97%) contrast(90%);
}

// Blog Icon Styles

.icon-blog .icon-img {
  filter: invert(51%) sepia(18%) saturate(1394%) hue-rotate(68deg)
    brightness(95%) contrast(87%);
  stroke-width: 1rem;
}

// Desktop Icon Styles

@include mqMin($desktopBreakpoint) {
  // This alters the icons on the projects section
  // as well as the nav
  // icons displayed in posts are not affected

  nav,
  .projects {
    button.icon,
    a.icon {
      height: 80px;
      width: 80px;
      background-color: unset;
      border-radius: $iconBorderRadiusDesktop;
      transition: all 0.2s ease-in-out;
      &:focus-visible {
        @include focusVisibleBorder;
      }
    }

    .icon-img {
      height: 50px;
      width: 50px;
    }
  }

  // Projects Icon Styles

  .projects {
    button.icon {
      height: 120px;
      width: 120px;
      margin-right: 3rem;
      margin-bottom: unset;
      &:hover {
        background-color: $iconHoverBg;
      }
      .icon-img {
        margin-bottom: 2rem;
      }
      .icon-text {
        bottom: 1rem;
      }
    }
    // Ray Bike Icon Styles

    button.icon-ray-bike-supreme {
      .icon-img {
        // rotate 90 deg
        margin-bottom: 3rem;
        transform: rotate(90deg);
      }
      .icon-text {
        bottom: 0.5rem;
        white-space: normal;
      }
    }
  }

  // Nav Icon Styles

  nav {
    button.icon,
    a.icon {
      margin: 0;
      &:hover {
        background-color: $iconHoverBg;
        .icon-text {
          border-radius: $iconTextBorderRadiusDesktop;
          background-color: $iconHoverBg;
          display: block;
          bottom: unset;
          top: 50%;
          left: unset;
          right: -6rem;
          transform: translateY(-50%);
          width: 80px;
          text-align: center;
        }
      }
    }

    .icon-img {
      height: 50px;
      width: 50px;
    }
    .icon-text {
      display: none;
    }
  }
}
