@use "../../styles/abstract/variables" as *;

button.icon,
a.icon {
  background-color: white;
  position: relative;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 1.5rem 1rem;
  &:hover {
    cursor: pointer;
  }
}

.icon-img {
  object-fit: contain;
  height: 30px;
  width: 30px;
}

.icon-text {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

// Ray Bike Icon Styles

.ray-bike-supreme .icon-text {
  bottom: -3rem;
  white-space: normal;
}

// bDMI Icon Styles

.bDMI .icon-img {
  // need to change the svg background color to #ff840b
  filter: invert(60%) sepia(27%) saturate(4303%) hue-rotate(352deg)
    brightness(99%) contrast(104%);
}

// Contact Icon Styles

.contact .icon-img {
  filter: invert(12%) sepia(97%) saturate(7060%) hue-rotate(238deg)
    brightness(97%) contrast(90%);
}

// Blog Icon Styles

.blog .icon-img {
  filter: invert(51%) sepia(18%) saturate(1394%) hue-rotate(68deg)
    brightness(95%) contrast(87%);
  stroke-width: 1rem;
}
