// Declaring colors

$headerBg: #272727;

$topBarBg: #3b3b3b;
$navBg: black;

$windowHeadingBg: #363636;
$windowMainBg: #303030;
$windowMainSecondaryBg: #272727;

$closeButtonBg: #f28c2a;

$textPrimary: white;
$textSecondary: #dd0e26;

$link: #02c4ff;
$link-hover: #41d3ff;

// Declaring shared units

$mobileMenuWidth: 40.625rem;

$desktopBreakpoint: 53.125rem;
