@use "../../styles/abstract/variables" as *;
@use "../../styles/abstract/mixins" as *;

.app-menu {
  padding-top: 0.5rem;
  height: 4.5rem;
  max-width: $mobileMenuWidth;
  margin: 0 auto;
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    height: 100%;
  }
  a {
    text-decoration: none;
  }
  .app-menu-icon,
  .app-menu-icon a {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    img {
      width: 30px;
      filter: invert(100%) sepia(14%) saturate(1742%) hue-rotate(85deg)
        brightness(114%) contrast(108%);
    }
    &:hover:not(.vs-code) {
      @include filterLinkHover();
    }
  }
  .github-link {
    grid-column-start: 2;
  }
  .live-site-link {
    grid-column-start: 3;
  }
  .vs-code {
    display: none;
    img {
      filter: none;
    }
  }
}

@include mqMin($desktopBreakpoint) {
  .app-menu {
    ul {
      li:focus-within {
        @include focusBorder;
      }
      .back {
        display: none;
      }
      .github-link {
        grid-column-start: 1;
      }
      .live-site-link {
        grid-column-start: 2;
      }
      .vs-code {
        grid-column-start: 3;
        display: flex;
        &:hover {
          p {
            color: $link-hover;
            padding-bottom: 0.4rem;
          }
        }
      }
    }
  }
  // When on desktop and no additional menu items are required, the app menu
  // is hidden
  .hide-app-menu {
    display: none;
  }
}
