@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Color Variables */
:root {
  --main-green: #4caf50;
  --dark-green: rgb(24, 165, 24);
  --black: #000;
  --white: #fff;
  --background: #fff;
  --header-background: #fff;
}

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cover-letter > * {
  margin-bottom: 1rem;
}

/* General Styles */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 8.5rem;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.8;
  padding: 20px;
  background-color: var(--background);
}

ul {
  padding-left: 1.5rem;
}

/* Typography */
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

/* Utility Classes */
.hide {
  display: none !important;
}

/* Resume Styles */
#resume {
  padding: 10px;
  max-width: 850px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 40px;
}

/* Header Styles */
header h1 {
  font-size: 1.5em;
  color: var(--black);
}

.primary-header {
  position: fixed;
  background-color: var(--header-background);
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
}

.links {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--black);
}

.title-and-print {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.title-and-print h1 {
  grid-column: 1/4;
}

.title-and-print button {
  grid-column: 4;
  width: 2.5rem;
  place-self: center;
}

/* Section Styles */
section {
  border-left: 4px solid var(--main-green);
  padding-left: 16px;
}

section.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  margin: 1rem auto;
  width: fit-content;
  border-left: unset;
}

section h2 {
  border-bottom: 2px solid var(--black);
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 1.5em;
}

/* Button Styles */
.button {
  all: unset;
  padding: 0.5rem 1rem;
  background-color: var(--main-green);
  border-radius: 12px;
  color: var(--white);
  text-align: center;
  min-width: 6rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.primary-header button {
  min-width: unset;
}

.button:hover {
  background-color: var(--dark-green);
  cursor: pointer;
}

/* Intro Section Styles */
section.intro {
  text-align: left;
  margin: 7.5rem 0 1rem 0;
}

/* Job and Education Styles */
.job h3,
.education h3 {
  font-size: 1em;
}

/* Media Queries for Responsive Design */
@media (min-width: 600px) {
  html {
    margin: 2rem 0;
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
  }

  #resume {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
    background: var(--background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  header {
    text-align: center;
    margin-bottom: 20px;
  }

  .primary-header {
    position: static;
    padding: 0;
  }

  .links {
    border-bottom: unset;
  }

  header .title-and-print h1 {
    margin-bottom: 10px;
    font-size: 2em;
    grid-column: 2/4;
  }

  header p {
    margin-bottom: 5px;
  }

  header p.intro {
    text-align: left;
  }

  section.intro {
    margin: 1rem 0;
  }

  .title-timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .job,
  .education {
    margin-bottom: 10px;
  }

  .job h3,
  .education h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
}

@media (min-width: 900px) {
  #resume {
    padding: 40px;
  }
}

/* Print Styles */
@media print {
  @page {
    size: auto;
    margin: 1.7rem;
  }

  body {
    padding: 0;
    background: none;
  }

  #resume {
    box-shadow: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }

  .header-slot {
    page-break-before: always;
  }

  header h1 {
    font-size: 2em;
  }

  section h2 {
    font-size: 1.5em;
  }

  .job h3,
  .education h3 {
    font-size: 1.2em;
  }
}
