@use "../../styles/abstract/variables" as *;
@use "../../styles/abstract/mixins" as *;

.app-window {
  position: fixed;
  top: 2.1875rem;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background-color: $windowMainBg;
  display: grid;
  grid-template-rows: auto 1fr auto;
  .app-header {
    background-color: $topBarBg;
    display: grid;
    place-items: center;
    font-size: 0.8rem;
    padding: 0.2rem;
    .close-button {
      display: none;
    }
  }
  .app-content {
    overflow: scroll;
  }
  .app-footer {
    width: 100%;
  }
}

// Desktop Window Styles
@include mqMin($desktopBreakpoint) {
  .app-window {
    position: absolute;
    left: 20%;
    top: 4rem;
    bottom: unset;
    right: unset;
    height: 780px;
    width: 720px;
    border: 2px solid $headerBg;
    .app-header {
      grid-template-columns: 1fr 1fr 1fr;
      cursor: move;
      h2 {
        cursor: default;
        grid-column-start: 2;
      }
      .close-button {
        display: block;
        text-align: center;
        grid-column-start: 3;
        justify-self: end;
        background-color: $closeButtonBg;
        border-radius: 50%;
        color: $textPrimary;
        font-size: 1.3rem;
        padding: 0 0.45rem 0.1rem 0.45rem;
        margin-right: 1rem;
      }
    }
  }
}
