@use "../../styles/abstract/variables" as *;

#root header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.clock {
  align-self: center;
  justify-self: center;
}
