@use "../../styles/abstract/variables" as *;
@use "../../styles/abstract/mixins" as *;

#root header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000000;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @include mqMin($desktopBreakpoint) {
    background-color: $headerBg;
    .logo {
      margin-left: 1rem;
    }
  }
}

.clock {
  align-self: center;
  justify-self: center;
}
