.post {
  .app-info-header {
    margin-bottom: 2rem;
    .icon-text {
      bottom: unset;
      top: 50%;
      right: -7rem;
      transform: translateY(-50%);
    }
    .icon-ray-bike-supreme {
      .icon-text {
        right: -12rem;
      }
    }
  }
  .app-content {
    & > * {
      margin-bottom: 1rem;
    }
    img {
      max-width: 100%;
    }
    ul {
      list-style-type: disc;
      padding-left: 1rem;
    }
  }
  // Styling inner Code component
  pre.inline-code {
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
    .linenumber {
      display: none !important;
    }
  }
}
