@use "../../styles/abstract/variables" as *;
@use "../../styles/abstract/mixins" as *;

// Mobile Nav Styles

nav {
  max-width: $mobileMenuWidth;
  margin: 0 auto 2rem auto;
  ul {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0;
    align-items: center;
  }
}

nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

// Nav button override

nav button.icon {
  margin: 0;
}

// Desktop Nav Styles

@include mqMin($desktopBreakpoint) {
  footer nav {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: $navBg;
    margin: 0;
    // need curved corners, only on top right and bottom right
    border-top-right-radius: $navBorderRadius;
    border-bottom-right-radius: $navBorderRadius;

    ul {
      display: grid;
      grid-template-columns: unset;
      grid-template-rows: 1fr 1fr;
      padding: 0.5rem 0.5rem 0 0.5rem;
      li:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }
}
