@use "../abstract/variables" as *;

p {
  margin: 0;
  color: $textPrimary;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
}

figcaption {
  margin-left: 0.5rem;
  color: $textPrimary;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $textPrimary;
  font-family: "Roboto", sans-serif;
  line-height: 1.8rem;
}

a {
  color: $link;
  font-family: "Open Sans", sans-serif;
  // text-decoration: none;
  &:hover {
    color: $link-hover;
  }
}

ul,
ol {
  font-family: "Open Sans", sans-serif;
  color: $textPrimary;
  line-height: 1.5rem;
}
